html {
    height: 100%;
    display: flex;
    justify-content: center;
}

body {
    background-image: linear-gradient(to bottom right, #FFF5E9, #C8A8DA);
}

.index {
    width: 15%;
    /* background-image: linear-gradient(to bottom right, #8CEBC7, #F98278); */
}