html {
    height: 100%;
    justify-content: center;
}

body {
    background-image: url(../bkg.jpg);
    background-color: #cccccc;
    background-size: cover;
    /* background-image: linear-gradient(to bottom right, #FFF5E9, #b474d9); */
}

a {
    text-decoration: none;
}

.index {
    /* line */
    border: 3px solid #7a7a7a;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-image: linear-gradient(to right, #747474, #464646, #6d6d6d) 10;
}

.index .tag-list{
    margin: 20px;
    text-align: center;
}

.index .tag-list .tag-item{
    /* box */
    margin: 10px;

    /* font */
    font-size: 30px;
    font-weight: 700;
    color: #373737;
    text-shadow: 2px 2px #c6cbd1;
}

.main {
    margin: 30px;
    text-align: center;

    border: 8px solid;
    border-image: linear-gradient(to bottom right, #d6d6d6, #c6cbd1, #d8d8d8) 10;
    border-radius: 20px;
    clip-path: inset(0 round 10px);
}

.main .content {
    margin: 100px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 3px;
    color: #5f4667;
}