html, body {
    height: 100%;
}

html {
    justify-content: center;
}

body {
    background-image: url(../bkg.jpg);
    background-color: #cccccc;
    background-size: cover;
    /* background-image: linear-gradient(to bottom right, #FFF5E9, #b474d9); */
}

a {
    text-decoration: none;
}

.index .tag-list{
    padding: 30px;
    text-align: center;

    /* blur */
    background: rgba(220, 220, 220, 0.3);
    box-shadow: 3px 3px 20px 3px rgba(0,0,0,.3);
    backdrop-filter: blur(2px);
    border-radius: 10px;
}

.index .tag-list .tag-item{
    /* box */
    margin: 20px;

    /* font */
    font-size: 30px;
    font-weight: 300;
    color: #5f4667;
}

.main {
    margin: 100px;
    text-align: center;

    /* blur */
    background: rgba(255,255,255,.3);
    box-shadow: 3px 3px 20px 3px rgba(0,0,0,.3);
    backdrop-filter: blur(2px);
    border-radius: 10px;
}

.main .content {
    padding: 100px;
}

.main .content .txt {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #5f4667;
}