body {
    background-color: #454545;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

a, body {
    color: #eee;
}

.side-bar {
    float: left;
    width: 17%;
    position: fixed;
}

.side-bar > * {
    padding: 5px 10px;
}

.side-bar .nav a,
.side-bar .tag-list a{
    display: block;
    padding: 6px 0px;
    color: #999;
    transition: color 500ms;
}

.side-bar .nav a:hover,
.side-bar .tag-list a:hover{
    color: rgb(255, 255, 255);
}

.main {
    float: right;
    width: 83%;
    color: #454545;
}

.side-bar .nav a{
    font-weight: 700;
}

.header .logo{
    line-height: 1;
    border: 6px solid #fff;
    padding: 10px 15px;
    font-size: 30px;
    font-weight: 300;
    display: inline-block;
    margin-bottom: 12px;
}

.article-list, .article {
    background: #fff;
    margin-right: 17%;
    padding: 15px 30px;
    box-shadow: 0 0 8px 4px rgba(0,0,0,0.2);
}

.article-list .item {
    margin-bottom: 25px;
}

.article-list .item > * {
    margin: 10px 0;
}

.article-list .item .title,
.article .title {
    color: #454545;
    font-size: 25px;
    font-weight: 600;
}

.article-list .item .status,
.article .status {
    font-size: 15px;
    color: rgb(168, 168, 168);
}
