.classA {
    text-align: center;
    color: #262228;
}

body {
    background-color:rgb(255, 255, 255);
}

h1 {
    background-color:#ffce00;
    text-align: center;
    text-indent: 50px;
    text-decoration: underline;
}

p {
    font-size: large;
}

#special {
    font-size: x-large;
}